form{
    background-color: aqua;
    width: 600px;
    border-radius: 21px;
    text-align: center;
}

input{
    width: 250px;
    height: 50px;
    border-radius: 20px;
    font-size: 20px;
}
label,p{
    font-size: 25px;
}
.btn{
    width: 250px;
    background-color: green;
    color: white;
    border-radius: 20px;
    height: 30px;
}